spring:
  application:
    name: cloud-architecture-app
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

server:
  port: 8080

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
  info:
    env:
      enabled: true