spring:
  application:
    name: cloud-architecture-app
  config:
    import: aws-parameterstore:/cloud-architecture-app/prod/

  cloud:
    aws:
      parameterstore:
        enabled: true
        region: ap-northeast-2
      region:
        static: ap-northeast-2
      credentials:
        instance-profile: true
      s3:
        bucket: my-cloud-architecture-leehanbi-files

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never
  info:
    env:
      enabled: true

info:
  app:
    message: ${APP_MESSAGE}
  team:
    name: ${APP_MESSAGE}
